.checkout__list-item {
  list-style-type: none;
  display: list-item;
  flex-direction: row;
  width: 80%;
  text-align:left;
  vertical-align: top;
  margin: 0;
  overflow:hidden;
}

.checkout__list-item__section {
  display: inline-block;
}

.checkout__list-item__section p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2px;
}

.checkout__list-item__section h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2px;
}